* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

.blue-half {
  height: 92vh;
  width: 50%;
  background: linear-gradient(
    to right,
    rgba(29, 161, 242, 1),
    rgb(14, 112, 172)
  );
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue-text {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Crete Round", serif;
}

i {
  margin-right: 13px;
}

.white-half {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 51%;
}

.white-content {
  display: flex;
  flex-direction: column;
  height: 265px;
  width: 340px;
  justify-content: space-around;
}

#signup-button {
  width: 350px;
  background-color: #4190c1;
  height: 44px;
  border-radius: 24px;
  color: white;
  font-size: 16px;
  font-family: "Crete Round", serif;
  border: none;
  margin-bottom: 15px;
}

#login-button {
  width: 350px;
  height: 48px;
  background-color: white;
  border-radius: 24px;
  font-size: 16px;
  border: 1px solid #4190c1;
  color: #4190c1;
}

#login-button:hover {
  background-color: #d7eaf5;
}

.sub-header {
  font-family: "Crete Round", serif;
  font-size: 18px;
  margin-bottom: 15px;
}

#bird {
  font-size: 36px;
  color: #4190c1;
  margin-bottom: 3px;
}

.form {
  position: absolute;
  top: 0;
  margin-top: 12px;
}

.login {
  display: flex;
}

#login-inputs {
  height: 30px;
  width: 198px;
  border-radius: 4px;

  border: 1px solid lightgrey;
}

.password {
  margin-left: 9px;
  color: grey;
  font-family: "Arial";
  font-size: 13px;
}

.button {
  height: 34px;
  border-radius: 30px;
  width: 63px;
  border: 1px solid rgb(21, 100, 198);
  background-color: white;
  margin-left: 16px;
  color: #4bace9;
  margin-right: 6px;
}

.bottom {
  width: 100%;
  border-top: 1px solid lightgrey;
  position: fixed;
  bottom: 0;
  height: 8vh;
  background-color: white;
  cursor: pointer;
}

.second-button {
  height: 45px;
  border-radius: 30px;
  width: 63px;
  border: 1px solid rgb(21, 100, 198);
  background-color: white;
  position: relative;
  left: 220px;
  top: -8px;
  color: #4bace9;
}

.second-button:hover {
  background-color: #bee0f5;
}

#login-inputs:focus {
  border: 1px solid rgb(21, 100, 198);
}

.button:hover {
  background-color: #bee0f5;
}

@media (min-width: 900px) and (max-width: 1250px) {
  .login {
    position: relative;
    right: 60px;
  }
}

@media (min-width: 0px) and (max-width: 1060px) {
  .login {
    display: none;
  }
}

@media (min-width: 1060px) {
  .second-button {
    display: none;
  }
}

@media (max-width: 801px) and (min-width: 0px) {
  .main {
    flex-direction: column-reverse;
  }
  .blue-half {
    width: 100%;
    height: 48vh;
  }
  .white-half {
    width: 100%;
    height: 48vh;
  }
}
